//Colores para tema claro
$cabeceraClaro: #0af;
$fondoClaro: #fff;
$cuerpoClaro: #ddd;
//Colores para tema oscuro
$fondoOscuro: rgba(25, 25, 25, 0.685);
$cabeceraOscuro: rgb(36,52,71);
$cuerpoOscuro: rgb(20,29,38);
//Colores para tabla asignaturas
$lista-color: green, red, purple, cyan, blue, grey, orange;

//Varibales mas usadas
$letras: #fff;
$radius: 10px;
$borde: 1px solid black;
$num: 1;
$theme: false;
$inicio: 1;
$fin: 6;
$hsize: 1;